<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="row mt-5">
    <div class="col-md-4 d-flex flex-column">
      <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">1ra Banda</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"><input class="form-check-input" type="radio" id="tarjetaSi" value="0" [(ngModel)]="B1"
                name="operacion"></th>
            <td>0</td>
          </tr>
          <tr>
            <th scope="row"><input class="form-check-input" type="radio" id="tarjetaSi" value="1" [(ngModel)]="B1"
                name="operacion"></th>
            <td>1</td>
          </tr>
          <tr>
            <th scope="row"><input class="form-check-input" type="radio" id="tarjetaSi" value="2" [(ngModel)]="B1"
                name="operacion"></th>
            <td>2</td>
          </tr>
          <tr>
            <th scope="row"><input class="form-check-input" type="radio" id="tarjetaSi" value="3" [(ngModel)]="B1"
                name="operacion"></th>
            <td>3</td>
          </tr>
          <tr>
            <th scope="row"><input class="form-check-input" type="radio" id="tarjetaSi" value="4" [(ngModel)]="B1"
                name="operacion"></th>
            <td>4</td>
          </tr>
          <tr>
            <th scope="row"><input class="form-check-input" type="radio" id="tarjetaSi" value="5" [(ngModel)]="B1"
                name="operacion"></th>
            <td>5</td>
          </tr>
          <tr>
            <th scope="row"><input class="form-check-input" type="radio" id="tarjetaSi" value="6" [(ngModel)]="B1"
                name="operacion"></th>
            <td>6</td>
          </tr>
          <tr>
            <th scope="row"><input class="form-check-input" type="radio" id="tarjetaSi" value="7" [(ngModel)]="B1"
                name="operacion"></th>
            <td>7</td>
          </tr>
          <tr>
            <th scope="row"><input class="form-check-input" type="radio" id="tarjetaSi" value="8" [(ngModel)]="B1"
                name="operacion"></th>
            <td>8</td>
          </tr>
          <tr>
            <th scope="row"><input class="form-check-input" type="radio" id="tarjetaSi" value="9" [(ngModel)]="B1"
                name="operacion"></th>
            <td>9</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-md-4 d-flex flex-column">
      <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">2da Banda</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"><input class="form-check-input" type="radio" id="tarjetaSi" value="0" [(ngModel)]="B2"
                name="operacion"></th>
            <td>0</td>
          </tr>
          <tr>
            <th scope="row"><input class="form-check-input" type="radio" id="tarjetaSi" value="1" [(ngModel)]="B2"
                name="operacion"></th>
            <td>1</td>
          </tr>
          <tr>
            <th scope="row"><input class="form-check-input" type="radio" id="tarjetaSi" value="2" [(ngModel)]="B2"
                name="operacion"></th>
            <td>2</td>
          </tr>
          <tr>
            <th scope="row"><input class="form-check-input" type="radio" id="tarjetaSi" value="3" [(ngModel)]="B2"
                name="operacion"></th>
            <td>3</td>
          </tr>
          <tr>
            <th scope="row"><input class="form-check-input" type="radio" id="tarjetaSi" value="4" [(ngModel)]="B2"
                name="operacion"></th>
            <td>4</td>
          </tr>
          <tr>
            <th scope="row"><input class="form-check-input" type="radio" id="tarjetaSi" value="5" [(ngModel)]="B2"
                name="operacion"></th>
            <td>5</td>
          </tr>
          <tr>
            <th scope="row"><input class="form-check-input" type="radio" id="tarjetaSi" value="6" [(ngModel)]="B2"
                name="operacion"></th>
            <td>6</td>
          </tr>
          <tr>
            <th scope="row"><input class="form-check-input" type="radio" id="tarjetaSi" value="7" [(ngModel)]="B2"
                name="operacion"></th>
            <td>7</td>
          </tr>
          <tr>
            <th scope="row"><input class="form-check-input" type="radio" id="tarjetaSi" value="8" [(ngModel)]="B2"
                name="operacion"></th>
            <td>8</td>
          </tr>
          <tr>
            <th scope="row"><input class="form-check-input" type="radio" id="tarjetaSi" value="9" [(ngModel)]="B2"
                name="operacion"></th>
            <td>9</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-md-4 d-flex flex-column">
      <table class="table">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">3ra Banda Multiplicador</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row"><input class="form-check-input" type="radio" id="tarjetaSi" value="0" [(ngModel)]="B3" name="operacion"></th>
          <td>0</td>
        </tr>
        <tr>
          <th scope="row"><input class="form-check-input" type="radio" id="tarjetaSi" value="1" [(ngModel)]="B3" name="operacion"></th>
          <td>1</td>
        </tr>
        <tr>
          <th scope="row"><input class="form-check-input" type="radio" id="tarjetaSi" value="2" [(ngModel)]="B3" name="operacion"></th>
          <td>2</td>
        </tr>
        <tr>
          <th scope="row"><input class="form-check-input" type="radio" id="tarjetaSi" value="3" [(ngModel)]="B3" name="operacion"></th>
          <td>3</td>
        </tr>
        <tr>
          <th scope="row"><input class="form-check-input" type="radio" id="tarjetaSi" value="4" [(ngModel)]="B3" name="operacion"></th>
          <td>4</td>
        </tr>
        <tr>
          <th scope="row"><input class="form-check-input" type="radio" id="tarjetaSi" value="5" [(ngModel)]="B3" name="operacion"></th>
          <td>5</td>
        </tr>
        <tr>
          <th scope="row"><input class="form-check-input" type="radio" id="tarjetaSi" value="6" [(ngModel)]="B3" name="operacion"></th>
          <td>6</td>
        </tr>
        <tr>
          <th scope="row"><input class="form-check-input" type="radio" id="tarjetaSi" value="7" [(ngModel)]="B3" name="operacion"></th>
          <td>7</td>
        </tr>
        <tr>
          <th scope="row"><input class="form-check-input" type="radio" id="tarjetaSi" value="8" [(ngModel)]="B3" name="operacion"></th>
          <td>8</td>
        </tr>
        <tr>
          <th scope="row"><input class="form-check-input" type="radio" id="tarjetaSi" value="9" [(ngModel)]="B3" name="operacion"></th>
          <td>9</td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>

</body>

</html>
